.glasses{
    background-image: url(../../../glass/public/glassesImage/background.jpg);
    position: relative;
    background-color: antiquewhite;

}
.glassTest{
    position: absolute;
    top: 132px;
    right: 568px;
    width: 140px;
    opacity: 0.5;

}